<div [ngClass]="{container: true}">
  <div class="border">
    <div class="picture"><img [src]="items[id].path" /></div>
    <div class="description">
      <div>Название картины: {{items[id].title | uppercase}}</div>
      <div>Год создания: {{items[id].year}}</div>
      <div>Автор картины: {{items[id].artist}}</div>
      <div>Размеры: {{items[id].size}}</div>
      <div>Местоположение: {{items[id].place}}</div>
    </div>
    <hr>
    <div class="frame-miniatures">
      <div *ngFor="let item of items">
        <div *ngIf="id !== item.id">
          <img [ngClass]="styles" [src]="item.path" (click)="pictureClick(item.id!)" />
        </div>
      </div>
    </div>
  </div>
</div>