  .border {
    border-radius: 1em;
    padding: 15px;
    margin: 5px;
    background-color: aqua;
    text-align: center;
  }

  .frame-miniatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 50%;
    height: 50%;
    margin: 10px;
    padding: 0px;
    border-radius: 1em;
    border: 2px solid blue;
  }

  .picture {
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .min {
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0;
    border-radius: 1em;
    border: 2px solid navy;
  }
