<app-task2></app-task2>
<p class="text-center fw-bolder fs-3">Краткая биография Билла Гейтса</p>
<div>
<img width="15%" height="15%" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Bill_Gates_2017_%28cropped%29.jpg" class ="leftimg" alt="Bill Gates">
<p>Билл Гейтс родился 28 октября 1955 года в Сиэтле.</p>
<p>Его отец был известным адвокатом, а мать преподавала в школе, занималась благотворительностью и являлась членом
    правления местного университета.</p>
<p>В детстве у Билла не все складывалось гладко, он начал «воевать» с матерью, в школьном коллективе играл роль клоуна и
    не успевал по некоторым предметам. Тогда родители отвели его к психологу, который посоветовал им «не принуждать
    Билла к послушанию».</p>
<p>В результате Гейтсы перевели 12-и летнего сына в более подходящую школу Лэйксайд. Именно здесь и произошла знаковая
    встреча Гейтса с компьютером. Билл и его школьный друг Пол Аллен, в будущем соучредитель фирмы Майкрософт, пропадали
    у «железного монстра» все выходные, и просиживали в школе до 4 утра. Свою первую программу для игры в
    крестики-нолики Гейтс сочинил в 13 лет.</p>
<p>Свою первую программу для игры в крестики-нолики Гейтс сочинил в 13 лет.</p>
<p>В 15 лет он вместе с Алленом написал программу для регулирования уличного движения, и получил заработок в 20 000
    долларов.</p>
<p>В 17 лет Билл разработал программу по распределению энергии Бонневильской плотины, и заработал 30 000 дол.</p>
<p>В 1973 году Билл поступил в Гарвард, который не был ему особо интересен. Все изменилось в один день 1975 года. Пол
    Аллен принес своему другу журнал «Популярная механика», обложку которого украшал первый компьютер для массового
    покупателя, «Альтаир-8080». Это был их шанс – разработать язык для простой машины, которая не имела программного
    обеспечения. Конкуренция была большой, и нужно было оказаться первыми, кто справится с этим заданием.</p>
<p>Презентация программы, написанной на языке «Бейсик», прошла успешно, и это было началом их новой жизни.</p>
<p>После этого Гейтс и Аллен основали компанию Майкрософт.</p>
<p>Билл покинул Гарвард. Тем не менее, в 2007 ему присвоили ученую степень, и он был признан самым успешным студентом
    Гарварда в потоке 77 го года.</p>
<p>Поначалу дела у Майкрософт шли не очень удачно, но Гейтс не опускал руки, а с присущей ему настойчивостью работал.
</p>
<p>Сейчас его компания – огромная корпорация с почти с 90 000 сотрудников, работающих в более 100 странах мира.</p>
<p>В 31 год Гейтс стал миллиардером, а журнал Forbes объявил его самым богатым человеком планеты с 1996 по 2007, и в
    2009 году.</p>
</div>